@model ClientUI.Controllers.UpdateOrderCommand


@{
    ViewBag.Title = "Requested Order";
    var orderNeedsInfo = Model.OrderStatus == OrderStatus.NeedsMoreInfo;

}

<h1>Requested Order</h1>

@using (Html.BeginForm("UpdateOrderRequest", "RequestedOrders", FormMethod.Post))
{
    @Html.HiddenFor(x => x.OrderId)
<div class="container">
    <div class="row">
        <div class="col-sm">
            Status
        </div>
        <div class="col-sm @(orderNeedsInfo ? "alert-warning" : "alert-info")" role="alert">
            @Html.DisplayFor(x => x.OrderStatus)
        </div>
    </div>
    <div class="row">
            <div class="col-sm">
                Order ID
            </div>
            <div class="col-sm">
                @Model.OrderId
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Item Name
            </div>
            <div class="col-sm">
                @Model.ItemName
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Date Ordered
            </div>
            <div class="col-sm">
                @Model.Date
            </div>
        </div>
        @if (orderNeedsInfo && @Model.ColorRequired != null && @Model.ColorRequired.Value)
        {
            <div class="row">
                <div class="col-sm">
                    Color Choice
                </div>
                <div class="col-sm">
                    @Html.DropDownListFor(m => m.ColorSelected, new SelectList(@Model.ColorOptions.Split(",")), "Select One")
                    @Html.ValidationMessageFor(model => model.ColorSelected)
                </div>
            </div>
        } else if (Model.ColorSelected != null)
        {
            <div class="row">
                <div class="col-sm">
                    Color Choice
                </div>
                <div class="col-sm">
                    @Model.ColorSelected
                </div>
            </div>
        }
        @if (orderNeedsInfo)
        {
            <div class="row">
                <div class="col-sm">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </div>
        }
    </div>
}





